<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
        <title>Brick Shop - Products</title>
        <link rel="stylesheet" href="../css/product.css"> <!-- Đường dẫn tới tệp CSS -->
</head>


<body>
    <!-- Header Section -->
    <header>
        <%- include('header_home_en.ejs') %>
    </header>

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Sản phẩm</li>
            <!-- <li class="breadcrumb-item active" aria-current="page">Keeppley</li> -->
        </ol>
    </nav>

    <!-- Brands Section -->
    <section class="brands">
        <div class="brand-logo">
            <img src="../images/Products.png" alt="Product">
        </div>
    </section>

    <!-- Products Section -->
    <section class="products">
        <h2>Qman Products</h2>
        <div class="product-grid">
            <% if (qmanCategories.length> 0) { %>
                <% qmanCategories.forEach(category=> { %>
                    <a href="/Category_Product/?id=<%= category.id %>">
                        <div class="product">
                            <!-- Hiển thị hình ảnh đầu tiên trong mảng images -->
                            <img src="../images/<%= category.images[0] %>" alt="<b><%= category.name %></b>">
                            <p style="color: black;">
                                <b><%= category.name %></b>
                            </p>
                        </div>
                    </a>
                    <% }) %>
                        <% } else { %>
                            <p>No products available</p>
                            <% } %>
        </div>
        <a href="/Qman_Products">
            <h4>View More > </h4>
        </a>
    </section>

    <!-- Products Section -->
    <section class="products">
        <h2>Keeppley Products</h2>
        <div class="product-grid">
            <% if (keeppleyCategories.length> 0) { %>
                <% keeppleyCategories.forEach(category=> { %>
                    <a href="/Category_Product/?id=<%= category.id %>">
                        <div class="product">
                            <!-- Hiển thị hình ảnh đầu tiên trong mảng images -->
                            <img src="../images/<%= category.images[0] %>" alt="<b><%= category.name %></b>" >
                            <p style="color: black;">
                                <b><%= category.name %></b>
                            </p>
                        </div>
                    </a>
                    <% }) %>
                        <% } else { %>
                            <p>No products available</p>
                            <% } %>
        </div>
        <a href="/Keeppley_Products">
            <h4>View More > </h4>
        </a>
    </section>

    <!-- Products Section -->
    <section class="products">
        <h2>LEGO Products</h2>
        <div class="product-grid">
            <% if (legoCategories.length> 0) { %>
                <% legoCategories.forEach(category=> { %>
                    <a href="/Category_Product/?id=<%= category.id %>">
                        <div class="product">
                            <!-- Hiển thị hình ảnh đầu tiên trong mảng images -->
                            <img src="../images/<%= category.images[0] %>" alt="<b><%= category.name %></b>" height="350">
                            <p style="color: black;">
                                <b><%= category.name %></b>
                            </p>
                        </div>
                    </a>
                    <% }) %>
                        <% } else { %>
                            <p>No products available</p>
                            <% } %>
        </div>
        <a href="/LEGO_Products">
            <h4>View More > </h4>
        </a>
    </section>


    <!-- Footer Section -->
    <footer id="footer-section">
        <%- include('footer.ejs') %>
    </footer>

    <!-- Cart Section -->
    <%- include('cart.ejs') %>
</body>

</html>