<html>

<head>
    <%- include('head.ejs') %>
        <title>Brick Shop</title>
        <link rel="stylesheet" href="../css/index.css"> <!-- Đường dẫn tới tệp CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
        <link rel="stylesheet" href="../css/product.css" />
</head>

<body>

    <!-- Header Section -->
    <header>
        <%- include('header_home_en.ejs') %>
    </header>

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/product">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= provider %></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= product.p_category %></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <%= product.p_name_en %>
            </li>
        </ol>
    </nav>

    <div class="container">
        <div class="image-section">
            <div class="zoom-container">
                <img id="main-image" alt="Close-up of product image" height="400" src="../images/<%= productImages[0] %>" width="600">
            </div>
            <div class="thumbnail-section">
                <div class="thumbnail-grid">
                    <% productImages.forEach((image, index)=> { %>
                        <img alt="Thumbnail of product image" height="100" src="../images/<%= image %>" width="100"
                            onclick="changeImage('../images/<%= image %>')" />
                    <% }); %>
                </div>
            </div>
        </div>
    
        <div class="details-section">
            <h1><%= product.p_name_en %></h1>
            <p class="brand"><%= product.p_category %></p>
            <p>SKU <%= product.p_number %></p>
    
            <div class="price">
                <span class="original-price"><%= product.p_price_en %>$</span>
                <span id="discounted-price" class="discounted-price">
                    <% const discounted_price = (product.p_price_en * (1 - (product.p_discount / 100))).toFixed(2) %>$ <%= discounted_price %>
                </span>
                <% if (product.p_discount == 100) { %>
                    <span class="discount">Free !!</span>
                <% } else { %>
                    <span class="discount"><%= product.p_discount %>%</span>
                <% } %>
            </div>
    
            <div class="exclusive">Exclusive price when purchasing on the website</div>
            <ul class="features">
                <li>Authentic Product</li>
                <li>Free Nationwide Shipping on Orders Over 20$</li>
                <li>Fast Delivery in 4-7 Hours</li>
            </ul>
            
            <div class="select-options">
                <label>Select type:</label>
                <% const id = product.p_id %>
                <div class="checkbox-group">
                    <% group.forEach((product, index)=> { %>
                        <a href="/Product_Detail/?id=<%= product.product_id || id %>"
                            onclick="selectProduct('<%= product.product_id %>', '<%= product.p_name_en %>'); return false;"
                            id="link-<%= product.product_id %>"
                            class="product-link <%= (product.product_id == id || product.p_name_en == 'Default') ? 'active' : '' %>">
                            <%= product.p_name_en %>
                        </a>
                    <% }); %>
                </div>
            </div>

            <div class="button-group">
                <div class="quantity">
                    <button class="btn-num" onclick="decreaseQuantity(event)">-</button>
                    <input type="text" id="quantity" value="1" name="quantity" />
                    <button class="btn-num" onclick="increaseQuantity(event)">+</button>
                </div>
                <!-- Form Add to Cart -->
                <form action="/add-to-cart" method="POST" class="inline-form">
                    <!-- Hidden Inputs for Add to Cart -->
                    <input type="hidden" name="p_id" value="<%= product.p_id %>" />
                    <input type="hidden" name="p_name" value="<%= product.p_name_en %>" />
                    <input type="hidden" name="p_price" value="<%= discounted_price %>" />
                    <input type="hidden" name="p_image" value="<%= productImages[0] %>" />
                    <input type="hidden" name="p_type" value="<%= product.p_name_en %>" />
                    <input type="hidden" name="quantity" value="1" />
            
                    <button type="submit" class="add-to-cart">Add to Cart</button>
                </form>
            
                <!-- Form Buy Now -->
                <form action="/buy-now" method="POST" class="inline-form">
                    <!-- Hidden Inputs for Buy Now -->
                    <input type="hidden" name="p_id" value="<%= product.p_id %>" />
                    <input type="hidden" name="p_name" value="<%= product.p_name_en %>" />
                    <input type="hidden" name="p_price" value="<%= discounted_price %>" />
                    <input type="hidden" name="p_image" value="<%= productImages[0] %>" />
                    <input type="hidden" name="p_type" value="<%= product.p_name_en %>" />
                    <input type="hidden" name="quantity" value="1" />
            
                    <button type="submit" class="buy-now">Buy Now</button>
                </form>
            </div>
    
            <div class="product-info">
                <table>
                    <tr>
                        <th>Category:</th>
                        <td><%= product.p_category %></td>
                    </tr>
                    <tr>
                        <th>Product Code:</th>
                        <td><%= product.p_number %></td>
                    </tr>
                    <tr>
                        <th>Age:</th>
                        <td><%= product.p_age %></td>
                    </tr>
                    <tr>
                        <th>Supplier:</th>
                        <td><%= provider %></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <div class="comments-container">
        <div class="comments-section">
            <h2>
                User Comments
            </h2>
            <% if (comments.length > 0) { %>
                <% comments.forEach(comment => { %>
                  <div class="comment">
                    <img alt="User profile picture" height="50" src="/user/male.png" width="50" />
                    <div class="comment-details">
                        <p><strong><%= comment.username %></strong>:</p>
                        <p class="stars">
                            <% for (let i = 1; i <= 5; i++) { %>
                              <% if (i <= comment.rank) { %>
                                ★
                              <% } else { %>
                                ☆
                              <% } %>
                            <% } %>
                          </p>
                        <p><%= comment.detail %></p>
                        <p><em><%= new Date(comment.created_at).toLocaleString() %></em></p>
                    </div>
                  </div>
                <% }) %>
              <% } else { %>
                <p class="noComment">No comments yet. Be the first to comment!</p>
              <% } %>

            <!-- Hiện điền comment khi đăng nhập -->
            <% if (userLogin && userLogin.userName) { %>
                <div class="comment-form">
                  <h3>Add a Comment</h3>
                  <form action="/Product_Detail/addComment" method="POST">
                    <input type="hidden" name="product_id" value="<%= product.p_id %>" />
                    <input type="hidden" name="user_id" value="<%= userLogin.userID %>" />
                    <label for="rank">Rating:</label>
                    <select style="height: 30px;" name="rank" id="rank" required>
                      <option value="5">5 - Excellent</option>
                      <option value="4">4 - Good</option>
                      <option value="3">3 - Average</option>
                      <option value="2">2 - Poor</option>
                      <option value="1">1 - Very Poor</option>
                    </select>
                    <textarea name="comment_detail" placeholder="Your Comment" rows="4" required></textarea>
                    <button type="submit">Submit</button>
                  </form>
                </div>
              <% } else { %>
                <p>Please log in to leave a comment.</p>
              <% } %>
              

        </div>
    </div>

    <!-- Footer Section -->
    <footer id="footer-section">
        <%- include('footer.ejs') %>
    </footer>

    <!-- Cart Section -->
    <%- include('cart.ejs') %>
        <script>
            // Chuyển hình ảnh chính
            function changeImage(imageUrl) {
                document.getElementById('main-image').src = imageUrl;
            }

            // Chuyển sang hình ảnh tiếp theo trong phần thumbnail
            let currentImageIndex = 0;

            function prevImage() {
                currentImageIndex = (currentImageIndex === 0) ? productImages.length - 1 : currentImageIndex - 1;
                changeImage(productImages[currentImageIndex]);
            }

            function nextImage() {
                currentImageIndex = (currentImageIndex === productImages.length - 1) ? 0 : currentImageIndex + 1;
                changeImage(productImages[currentImageIndex]);
            }

            // Tăng/giảm số lượng Products
            function decreaseQuantity(event) {
                event.preventDefault(); // Ngăn submit form
                const quantityInput = document.getElementById('quantity');
                let currentValue = parseInt(quantityInput.value, 10);
                if (currentValue > 1) {
                    quantityInput.value = currentValue - 1;
                }
            }

            function increaseQuantity(event) {
                event.preventDefault(); // Ngăn submit form
                const quantityInput = document.getElementById('quantity');
                let currentValue = parseInt(quantityInput.value, 10);
                quantityInput.value = currentValue + 1;
            }


            // Công thức zoom ảnh
            $(document).ready(function () {
                $(".zoom-container").mousemove(function (e) {
                    var image = $(this).find("img");
                    var offsetX = e.pageX - $(this).offset().left;
                    var offsetY = e.pageY - $(this).offset().top;
                    var posX = (offsetX / $(this).width()) * 100;
                    var posY = (offsetY / $(this).height()) * 100;
                    image.css("transform-origin", posX + "% " + posY + "%");
                });
            });

            function showNotification(notificationId) {
                const notification = document.getElementById(notificationId);
                const checkmark = notification.querySelector('.checkmark');

                notification.classList.remove('hidden', 'slide-out');
                notification.classList.add('slide-in');

                // Kích hoạt hoạt ảnh xoay cho dấu checkmark
                checkmark.style.animation = 'none';
                setTimeout(() => {
                    checkmark.style.animation = '';
                }, 10);

                // Ẩn thông báo sau 3 giây
                setTimeout(() => {
                    notification.classList.remove('slide-in');
                    notification.classList.add('slide-out');
                    setTimeout(() => {
                        notification.classList.add('hidden');
                    }, 500);
                }, 3000);
            }

            // Hàm thông báo cho Add to Cart
            function buyItem() {
                showNotification('notification-cart');
            }

            // Hàm thông báo cho View Instruction
            function showTutorialNotification() {
                showNotification('notification-tutorial');
            }

            function selectProduct(productId, productName) {

                // Loại bỏ class 'active' khỏi tất cả các nút
                const links = document.querySelectorAll('.product-link');
                links.forEach(link => link.classList.remove('active'));

                // Thêm class 'active' cho nút hiện tại
                const selectedLink = document.getElementById(`link-${productId}`);
                if (selectedLink) {
                    selectedLink.classList.add('active');
                }

                // Cập nhật giá trị vào các hidden input
                document.getElementById('selected_product_id').value = productId;
                document.getElementById('selected_product_name').value = productName;
            }

        </script>
</body>

</html>